.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
    width: 100%;
}

.face {
    position: absolute;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    width: 20em;
    height: 20em;
}

.face1 {
    margin: 20.2em 0 0 20.2em;
}

.face2 {
    margin: 20.2em 0 0 40.4em;
}

.face3 {
    margin: 0 0 0 20.2em;
}

.face4 {
    margin: 20.2em 0 0 60.6em;
}

.face5 {
    margin: 20.2em 0 0 0;
}

.face6 {
    margin: 40.4em 0 0 20.2em;
}

.row {
    height: 100%;
    display: flex;
}